/* Home.css */

:root {
  primary-color: #dfb426;
  background-image: url('../public/pic.jpg');
  overlay-bg-color: rgba(9, 217, 253, 0.6);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home {
  display: grid;
  place-items: center;
  height: 100vh;
  background: var(--overlay-bg-color) linear-gradient(to bottom, rgba(223, 3, 252, 0.966), rgba(245, 3, 136, 0.7)), var(--background-image);
  color: var(--primary-color);
  text-align: center;
}

.overlay {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: var(--overlay-bg-color);
  border-radius: 10px;
}

.overlay h1 {
  font-size: 3em;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(196, 104, 104, 0.575);
}

.overlay p {
  font-size: 1.5em;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(255, 80, 80, 0.5);
}
